In [2]:
x = 10
y = 3.14
name = 'Utkarsh'
city = 'Lucknow'
fruits = ['apple','banana','mango']
print(type(x))
print(type(y))
print(type(name))
print(type(city))
print(type(fruits))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'list'>

In [3]:
x=10
y=3
x+y

13

In [4]:
x-y

7

In [5]:
x*y

30

In [6]:
x/y

3.3333333333333335

In [7]:
x//y

3

In [8]:
x**y

1000

In [9]:
a=10

In [11]:
a+=5

In [12]:
10>5 and 5>3

True

In [13]:
2>100 or 5<10

True

In [16]:
not 10>5

False

In [17]:
name = 'William Shakespeare'

'pear' in name

True

In [18]:
'will' in name

False

In [21]:
'Will' in name

True

In [23]:
x = 1
y = 2

In [24]:
x is y

False

In [1]:
x=True
y=False
print(x&y)
print(x and y)
print(x|y)
print(x or y)

False
False
True
True