In [1]:
name = input("Enter your name: ")
city = input("Enter your city: ")

typecast

In [2]:
a = '900'
a_num = int(a)

In [3]:
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
x+y

19

In [3]:
p = int(input("Enter Principal: "))
r = int(input("Enter rate of interest: "))
t = int(input("Time interval: "))
si = p*r*t/100
print(si)

24.0

In [4]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
city = input("Enter your city: ")

In [5]:
print('My name is ',name)
print('My age is ',age)
print('My city is ',city)

My name is  Utkarsh
My age is  23
My city is  Lucknow

In [6]:
print('My name is ',name,'My age is ',age,'My city is ',city)

My name is  Utkarsh My age is  23 My city is  Lucknow

not recommended

In [7]:
print('My name is',name,'My age is',age,'My city is',city,sep="\n")

My name is
Utkarsh
My age is
23
My city is
Lucknow

In [21]:
print('hi',end=', ')
print('there',end = '.')

hi, there.

formatable string

In [22]:
a = 50
b = 30
a+b
print('adding a with b will give a+b')
x = 50
y = 30
x+y
print(f'adding {x} with {y} will give {x+y}')

adding a with b will give a+b
adding 50 with 30 will give 80

setting decimal places in a string

In [23]:
u = 10
v = 3
print(f'{u}/{v}={u/v}')
print(f'{u}/{v}={u/v:.2f}')
print(f'{u}/{v}={u/v:.1f}')
print(f'{u}/{v}={u/v:.0f}')
print(f'{u}/{v}={u/v:.5f}')
print(f'{u}/{v}={u/v:.30f}')

10/3=3.3333333333333335
10/3=3.33
10/3=3.3
10/3=3
10/3=3.33333
10/3=3.333333333333333481363069950021

In [24]:
print(f'Name = {name}')
print(f'age = {age}')
print(f'city = {city}')
address = '123, Lucknow'
print(f'address = {address}')

Name = Utkarsh
age = 23
city = Lucknow
address = 123, Lucknow

In [25]:
print(f'Name    {name}')
print(f'age     {age}')
print(f'city    {city}')
print(f'address {address}')

Name    Utkarsh
age     23
city    Lucknow
address 123, Lucknow

fstring spacing

In [20]:
print(f'{"Name":10}{name}')
print(f'{"age":10}{age}')
print(f'{"city":10}{city}')
print(f'{"address":10}{address}')

Name      Utkarsh
age       23
city      Lucknow
address   123, Lucknow

fstring right align >

In [26]:
print(f'{"Name":10}{name:>35}')
print(f'{"age":10}{age:>35}')
print(f'{"city":10}{city:>35}')
print(f'{"address":10}{address:>35}')

Name                                  Utkarsh
age                                        23
city                                  Lucknow
address                          123, Lucknow

fstring right align ^

In [27]:
print(f'{"Name":10}{name:^35}')
print(f'{"age":10}{age:^35}')
print(f'{"city":10}{city:^35}')
print(f'{"address":10}{address:^35}')

Name                    Utkarsh
age                       23
city                    Lucknow
address              123, Lucknow

WAP to fimd Hypothneuse using Pythagoras Theorem

In [32]:
#h^2 = p^2 + b^2
p = int(input("Enter perpendicular: "))
b = int(input("Enter base: "))
h = (p**2 + b**2)**0.5
print(f'Hypotheneuse is {h:.0f}')

Hypotheneuse is 5