## for loop

    for temp in iterable:
        statement 1
        .
        .
        statement n

iterables - string, list, tuple, set, dictionary, generators (special function that generates data inside RAM - range(),...)

In [1]:
movies = [
    'Avengers',
    'Deadpool',
    'X-Men',
    'Openheimmer',
    'Interstellar',
    'Inception',
    'Batman',
    'Fault in Our Stars',
    'Tenet',
    'FnF'
    ]

In [2]:
print(len(movies))

10

In [3]:
for title in movies:
    print(title)

Avengers
Deadpool
X-Men
Openheimmer
Interstellar
Inception
Batman
Fault in Our Stars
Tenet
FnF

In [10]:
for title in movies:
    print(f'{title:30} {len(title):2} characters')

Avengers                        8 characters
Deadpool                        8 characters
X-Men                           5 characters
Openheimmer                    11 characters
Interstellar                   12 characters
Inception                       9 characters
Batman                          6 characters
Fault in Our Stars             18 characters
Tenet                           5 characters
FnF                             3 characters

In [18]:
for title in movies:
    if 'a' in title or 'A' in title:
        print(title)

Avengers
Deadpool
Interstellar
Batman
Fault in Our Stars

In [19]:
books = [
    ['Warbreaker','Brandon Sanderson',10],
    ['Elantris','Brandon Sanderson',10],
    ['The Final Empire','Brandon Sanderson',10],
    ['The Well of Ascension','Brandon Sanderson',10],
    ['The Hero of Ages','Brandon Sanderson',10],
    ['The Way of Kings','Brandon Sanderson',10],
    ['Words of Radiance','Brandon Sanderson',10],
    ['Oathbringer','Brandon Sanderson',10],
    ['The Great Gatsby','F. Scott Fitzgerald',8],
    ['Hamlet','William Shakespeare',9]
]

In [29]:
for book in books:
    for field in book:
        print(field)
    print()

Warbreaker
Brandon Sanderson
10

Elantris
Brandon Sanderson
10

The Final Empire
Brandon Sanderson
10

The Well of Ascension
Brandon Sanderson
10

The Hero of Ages
Brandon Sanderson
10

The Way of Kings
Brandon Sanderson
10

Words of Radiance
Brandon Sanderson
10

Oathbringer
Brandon Sanderson
10

The Great Gatsby
F. Scott Fitzgerald
8

Hamlet
William Shakespeare
9

In [30]:
for book in books:
    print(f'{"Book name:":20}{book[0]}')
    print(f'{"Author:":20}{book[1]}')
    print(f'{"Rating:":20}{book[2]}')
    print()

Book name:          Warbreaker
Author:             Brandon Sanderson
Rating:             10

Book name:          Elantris
Author:             Brandon Sanderson
Rating:             10

Book name:          The Final Empire
Author:             Brandon Sanderson
Rating:             10

Book name:          The Well of Ascension
Author:             Brandon Sanderson
Rating:             10

Book name:          The Hero of Ages
Author:             Brandon Sanderson
Rating:             10

Book name:          The Way of Kings
Author:             Brandon Sanderson
Rating:             10

Book name:          Words of Radiance
Author:             Brandon Sanderson
Rating:             10

Book name:          Oathbringer
Author:             Brandon Sanderson
Rating:             10

Book name:          The Great Gatsby
Author:             F. Scott Fitzgerald
Rating:             8

Book name:          Hamlet
Author:             William Shakespeare
Rating:             9

In [5]:
prices = [9239,530,345,None,541,672,None,882,892]
for price in prices:
    if price is None:
        break
    print(price)

9239
530
345

In [6]:
prices = [9239,530,345,None,541,672,None,882,892]
for price in prices:
    if price is None:
        continue
    print(price)

9239
530
345
541
672
882
892

In [83]:
names = ['Sage', 'Phoenix', 'Breach', 'Raze', 'Cypher', 'Killjoy']
for name in enumerate(names):
    print(name)

(0, 'Sage')
(1, 'Phoenix')
(2, 'Breach')
(3, 'Raze')
(4, 'Cypher')
(5, 'Killjoy')

In [10]:
names = ['Sage', 'Phoenix', 'Breach', 'Raze', 'Cypher', 'Killjoy']
for id,name in enumerate(names):
    print(id,name)

0 Sage
1 Phoenix
2 Breach
3 Raze
4 Cypher
5 Killjoy

In [20]:
grocery = ['bread', 'milk', 'butter']
prices = [20,48,60]
qnty = [2,3,2]
for g,p,q in zip(grocery,prices,qnty):
    print(f'{g:10} {p:5} {q:5} {p*q:5}')

bread         20     2    40
milk          48     3   144
butter        60     2   120

In [23]:
num = 50
for i in range(2,num):
    if num%i == 0:
        print(i)

2
5
10
25

In [86]:
num = 13
for i in range(2,num):
    if num%i == 0:
        print(f'{num} is not a prime number')
        break   
else:
    print(f'{num} is a prime number')

13 is a prime number

In [80]:
num = 13
for i in range(2,num):
    print(f'{num} % {i} = {num%i}')
    if num%i == 0:
        continue
        print(f'{num} is not a prime number')   
else:
    print(f'{num} is a prime number')

13 % 2 = 1
13 % 3 = 1
13 % 4 = 1
13 % 5 = 3
13 % 6 = 1
13 % 7 = 6
13 % 8 = 5
13 % 9 = 4
13 % 10 = 3
13 % 11 = 2
13 % 12 = 1
13 is a prime number

In [56]:
num = 123456
rev = 0
while num > 0:
    last_digit = num%10 #remainder
    rev = rev*10+last_digit
    num = num//10 #quotient
    print(rev)
print(f'Reverse number is {rev}')

6
65
654
6543
65432
654321
Reverse number is 654321

In [57]:
username = 'admin'
password = 'admin123'
while True:
    u = input('Enter username: ')
    p = input('Enter password: ')
    if u == username and p == password:
        print('Logged in!')
        break
    else:
        print('Invalid credentials')
        continue

Invalid credentials
Logged in!