# Tuple

In [1]:
x = (1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [3]:
y = 1,2,3,4,5,"Hello" #tuple packing
print(y)
print(type(y))

(1, 2, 3, 4, 5, 'Hello')
<class 'tuple'>

In [4]:
z = tuple([1,2,3,4]) #tuple from iterable
zs = tuple('hello') #tuple from iterable
print(z)
print(zs)

(1, 2, 3, 4)
('h', 'e', 'l', 'l', 'o')

In [7]:
x = (1,2,4,5,6,3,2,5,7,7,4,3,1)
print(x.index(1))
print(x.count(7))

0
2

In [10]:
x = ()
print(x)
print(type(x))

()
<class 'tuple'>

In [14]:
y = (1,) # a single element tuple needs a comma
print(y)
print(type(y))

(1,)
<class 'tuple'>

In [23]:
x = (1,2,3,4,5)
print(x)
a,b,c,d,e = x #tuple unpacking
print(a)
print(b)
print(c)
print(d,e)

# a,b = x  #too many values to unpack (expected 2)
# a,b,c,d,e,f,g = x #not enough values to unpack (expected 6, got 5)

(1, 2, 3, 4, 5)
1
2
3
4 5

In [27]:
a, b, *c = x #tuple unpacking
print(a,b,c)
a, *b = x
print(a,b)
a, *b, c = x
print(a,b,c)

1 2 [3, 4, 5]
1 [2, 3, 4, 5]
1 [2, 3, 4] 5

# Set

In [29]:
a = {5,3,2,1,4,5,1,1,1,2,6}
print(a)
print(type(a))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [30]:
fruits = {'banana','apple','apple','mango','pear','orange','banana'}
print(fruits)

{'apple', 'banana', 'mango', 'pear', 'orange'}

In [34]:
x = {1,'hello',3.14}
print(x)
print(type(x))

{1, 3.14, 'hello'}
<class 'set'>

In [35]:
fruits.add('grape')
fruits.add('apple')
print(fruits)

{'apple', 'grape', 'banana', 'mango', 'pear', 'orange'}

In [36]:
fruits.discard('apple')
fruits.discard('cherry')
print(fruits)

{'grape', 'banana', 'mango', 'pear', 'orange'}

In [38]:
a = {1,2,5,4,3,2,1,7}
b = {2,3,1,4,2,4,6}
c = {6,7,8,9,10}
d = {0,2,3,5,1,2}
e = {1,2,3}

#union
print(a|b)
print(a.union(b))

#intersection
print(a&c)
print(a.intersection(c))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{7}
{7}

In [40]:
print(c&e) #returns empty set if no common

set()

In [41]:
print(b-c) 
print(b.difference(c))

{1, 2, 3, 4}
{1, 2, 3, 4}

In [44]:
print(a^e)
print(a.symmetric_difference(e))

{4, 5, 7}
{4, 5, 7}

In [49]:
print(a.issuperset(b))
print(e.issubset(a))
print(c.isdisjoint(e))
print(e.isdisjoint(a))

False
True
True
False